.help-box {
    height: 95%;
    margin: 0 auto;
}

.guide-inf {
    margin: 0 auto;
    font-size: 14px;
    line-height: 42px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #E6E6E6;
}

.guide-inf h3 {
    font-weight: bold;
    margin-left: 10px;
}

.guide-inf span {
    height: auto;
    display: block;
    margin-left: 25px;
}
